<div class="grid-container fluid full">
  <div class="grid-x grid-padding-x">
    <% feeds.map do |name, feed| %>
      <%= partial :feed, feed: feed, entries: entries[name] %>
    <% end %>
  </div>
</div>
